@import url(normalize.css);
@import url(button.css);

body {
    color: #3A4145;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    height: 100%;
    line-height: 1.6em;
    margin: 0;
    max-height: 100%;
}


/**
 ** layouts.
 **/

/*
 * sidebar width: 300px;
 * header height: 100px;
 */
.title-header {
    height: 50px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    background-color: #333;
    font-weight: bold;
    color: #ccc;
    padding: 10px 0 0 20px;
}
.main {
    bottom: 0;
    left: 300px; /* sidebar */
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #EDECE4;
}

.sidebar {
    background-color: white;
    bottom: 0;    
    position: absolute;
    left: 0;
    top: 50px;
    width: 300px; /* sidebar */
}

.header {
    height: 100px; /* header */
    top: 0;
    background-color: white;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 100px; /* header */
    border-left: 1px solid #ccc;
}

/**
 ** styles.
 **/

.title-header menu {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

.title-header menuitem {
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
}

.album-list {
    height: 100%;
    overflow: auto;
}
.album-list menu {
    margin: 0;
    padding: 0;
}
.album-list menuitem {
    cursor: pointer;
}
.album-list menuitem:hover {
    background-color: #EDECE4;
}
.album {
    display: block;
    clear: both;
    min-height: 64px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.album .thumbnail {
}
.album .thumbnail img {
    width: 64px;
    float: left;
    margin-right: 20px;
}
.album .title {
}

.selected-photo-list {
    white-space: nowrap;
    overflow: auto;
}
.selected-photo-list img {
    cursor: pointer;
    vertical-align: top;
}

.selected-photo {
    width: 78px;
    height: 78px;
    display: inline-block;
    text-align: center;
    background-color: white;
    border: 1px solid #ccc;
    margin: 10px 5px;
}
.selected-photo .img-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.selected-photo img {
    display: inline-block;
    vertical-align: middle;
}


.photo-list {
    height: 100%;
    overflow: auto;
    margin: 0 15px;
}
.photo-list img {
    cursor: pointer;
}

.photo {
    width: 160px;
    height: 160px;
    display: inline-block;
    text-align: center;
    background-color: white;
    border: 1px solid #ccc;
    margin: 10px;
}
.photo .img-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.photo img {
    display: inline-block;
    vertical-align: middle;
}
.photo.selected {
    background-color: cornflowerblue;
}

