<!DOCTYPE html>
{% autoescape true %}
<html ng-app="blogae.admin">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="/js/admin.js"></script>
    <script src="/js/scroll.js"></script>
    <script src="/js/topbar.js"></script>
    <script src="/js/markdown.min.js"></script>
    <script src="/admin/js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
  </head>
  <body ng-controller="AdminCtrl as admin">
    <aside class="sidebar">
      <div class="post-list" when-scrolled="admin.load_more()">
	<menu>
	  <menuitem class="new-post" ng-click="admin.new_post()">
	    <div class="menu-title">Write new post</div>
	    <div class="menu-info">Right now</div>
	  </menuitem>
	  {% raw %}
	  <menuitem ng-repeat="post in admin.posts"
	            ng-class="{draft: post.is_draft,
			      checked: post.id == admin.selected_post.id,
			      readonly: !post.editable}">
            <div ng-click="admin.edit(post.id)" class="menu-title">
              {{post.title.length == 0 ? '(No title)' : (post.is_draft ? post.title + ' (draft)' : post.title)}}
            </div>
            <div class="menu-info">
	      <a href="{{post.permalink_full}}" target="view" ng-show="!post.is_draft">VIEW</a>
	      <span ng-show="!post.is_draft"> - </span>
	      <span class="menu-author">{{post.author.nickname}}</span>
              <span class="menu-date">{{post.date_published}}</span>
            </div>
          </menuitem>
          {% endraw %}
        </menu>
      </div>
    </aside>
    <main class="main">
      <header class="header">
        <div class="header-title"><a href="/" target="_blank">{{config.blog_title}}</a> - {{user.nickname()}}</div>
      </header>
      <div class="container">
        <section class="content">
          <div class="post-title-container">
            <input type="text" ng-model="admin.title" ng-change="admin.edited=true" placeholder="Title"></input>
          </div>
          <div class="content-container">
            <div class="post-content-container">
              <div class="textarea-container">
                <textarea id="content" ng-model="admin.content" ng-change="admin.edited=true; admin.content_changed()"
			  ng-readonly="!!admin.selected_post && !admin.selected_post.editable"
			  placeholder="Type your story..."></textarea>
              </div>
              <div class="post-help-container" ng-show="admin.help_showing">
		<div class="post-help">
                  {% include "markdown-help.html" %}
		</div>
	      </div>
              <div class="post-preview-container" ng-show="!admin.help_showing">
		<div class="post-preview-banner">Preview</div>
		<section id="post-preview" class="post-content">
		</section>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="footer">
        <span class="tags">
          <input type="text" ng-show="admin.metadata_editing == 'tags'" ng-model="admin.tags" ng-change="admin.edited=true" placeholder="Comma separated tags"></input>
          <input type="text" ng-show="admin.metadata_editing == 'published'" ng-model="admin.date_published" ng-change="admin.edited=true" ng-class="{error: !admin.check_date_format()}" placeholder="Published date (auto-filled on saving)"></input>
          <input type="text" ng-show="admin.metadata_editing == 'permalink'" ng-model="admin.permalink" ng-change="admin.edited=true" placeholder="Permalink (auto-filled on saving)"></input>
        </span>
        <menu>
          {% raw %}
          <menuitem>
            <button class="button secondary" ng-click="admin.toggle_metadata_editing()">{{admin.metadata_editing}}</button>
          </menuitem>
          <menuitem>
            <button class="button secondary" ng-click="admin.open_photo_picker()">Photos</button>
          </menuitem>
          <menuitem>
            <button ng-disabled="((!admin.edited || admin.content.length == 0) && (!admin.selected_post || admin.selected_post.is_draft)) ||
				 !admin.check_date_format() ||
				 (admin.selected_post && !admin.selected_post.editable) ||
				 admin.saving"
                    class="button primary" ng-click="admin.save()">Save as draft</button>
          </menuitem>
          <menuitem>
            <button ng-disabled="((!admin.edited || admin.content.length == 0) && !admin.selected_post.is_draft) ||
				 !admin.check_date_format() ||
				 (admin.selected_post && !admin.selected_post.editable) ||
				 admin.saving"
                    class="button primary" ng-click="admin.publish()">Publish</button>
          </menuitem>
          <menuitem ng-repeat="blogae_script in admin.blogae_scripts">
            <button class="button secondary" ng-click="admin.call_blogae_script($index)">Script #{{$index}}</button>
          </menuitem>
          <menuitem>
            <button class="button secondary" ng-mouseover="admin.help_showing=true" ng-mouseleave="admin.help_showing=false">?</button>
          </menuitem>
          <menuitem>
            <button ng-disabled="!admin.selected_post || (admin.selected_post && !admin.selected_post.editable) || admin.saving"
		    class="button dangerous" ng-click="admin.delete_post()">X</button>
          </menuitem>
          {% endraw %}
        </menu>
      </footer>
    </main>
    <aside class="topbar hide" id="topbar"></aside>
    <input id="selected_photos" type="hidden"></input>
  </body>
</html>
{% endautoescape %}
