<!DOCTYPE html>
{% autoescape true %}
<html ng-app="blogae.picker">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="/js/picker.js"></script>
    <script src="/js/scroll.js"></script>
    <script src="/js/topbar.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700">
    <link rel="stylesheet" type="text/css" href="/css/picker.css">
  </head>
  <body ng-controller="PickerCtrl">
    <header class="title-header">
      <span class="title">{{config.blog_title}} - photo picker ({{'{{selected_photos.length}}'}})</span>
      <menu>
        <menuitem>
	  <button class="button secondary" ng-click="done()">Cancel</button>
	</menuitem>
        <menuitem>
	  <button class="button primary" ng-click="done()">Done</button>
        </menuitem>
      </menu>
    </header>
    {% raw %}
    <aside class="sidebar">
      <div class="album-list" when-scrolled="load_more_albums()">
	<menu>
	  <menuitem ng-repeat="album in albums" class="album"
		    ng-click="show_album_photos(album.album_id)">
            <div class="thumbnail">
	      <img ng-src="{{album.thumbnail}}">
            </div>
	    <div class="title">{{album.title}} ({{album.num_photos}})</div>
          </menuitem>
        </menu>
      </div>
    </aside>

    <main class="main">
      <header class="header">
	<div class="selected-photo-list">
	  <span ng-repeat="photo in selected_photos" ng-click="deselect_photo(photo)"
		class="selected-photo">
	    <div class="img-helper"></div>
	    <img ng-src="{{photo.thumbnail_small}}">
	  </span>
	</div>
      </header>
      <div class="container">
	<div class="photo-list" when-scrolled="load_more_photos()">
	  <span ng-repeat="photo in photos" class="photo"
		ng-class="{selected: photo.selected}">
	    <div class="img-helper"></div>
	    <img ng-src="{{photo.thumbnail_medium}}" ng-click="select_photo(photo)">
            <a href="javascript:;" ng-click="zoom_photo(photo)">zoom</a>
	  </span>
	</div>
      </div>
    </main>
    <aside class="topbar hide" id="topbar"></aside>
    <aside class="zoom-panel" ng-show="is_zooming" ng-click="stop_zoom()">
      <div class="zoom-background"></div>
      <div class="zoom-photo-panel">
        <img ng-src="{{zoomed_photo.src}}">
      </div>
    </aside>
    {% endraw %}
  </body>
</html>
{% endautoescape %}
