{% extends "base.html" %}

{% block blog_title %}
{{post.title}} | {{config.blog_title}}
{% endblock %}

{% block scripts %}{{config.post_script|safe}}{% endblock %}

{% block comment_script %}{{config.comment_script|safe}}{% endblock %}

{% block nav %}
<nav class="nav">
  {% if prev_post %}
  <div class="nav_prev">
    <a href="{{prev_post.permalink_converted}}">&larr;{{prev_post.title}}</a>
  </div>
  {% endif %}
  {% if next_post %}
  <div class="nav_next">
    <a href="{{next_post.permalink_converted}}">{{next_post.title}}&rarr;</a>
  </div>
  {% endif %}
</nav>
{% endblock %}

{% block footer %}
<footer>
  {% include "bio.html" with context %}
<footer>
{% endblock %}


